
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Logo Section */
.logo {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.logo .spm-logo {
    font-size: 2.2rem;
    margin: auto;
    font-family: "Lucida Console", "Courier New", monospace;
}

.logo .spm-text {
    font-size: 1rem;
    font-weight: 15;
    margin-left: 10px;
    margin-top: auto;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    width: 450px;
}

.search-bar button {
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Logo */
.login-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.p-logo {
    color: #007bff;
}

.search-bar input:focus {
    border-color: #007bff;
    outline: none;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Navigation Links */
.nav-a-tags ul {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0 60px 0 0;
}

.nav-a-tags li {
    display: inline-block;
}

/* Styling both <a> and <button> to look identical */
.nav-a-tags a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: inherit;
    line-height: normal;
}

/* Hover effect for both */
.nav-a-tags a:hover,
.nav-a-tags button:hover {
    background-color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin-bottom: 10px;
    }

    .nav-a-tags ul {
        flex-direction: column;
        gap: 10px;
    }
}
