/* Global Styles */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

/* Logo Section */
.logo {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;

}

.logo .spm-logo {
    font-size: 1rem;
    font-weight: 40;
    margin: auto;
    font-family: "Lucida Console", "Courier New", monospace;

}

.logo .spm-text {
    font-size: 0.9rem;
    font-weight: 10;
    margin-left: 10px;
    margin-top:auto;

}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    width: 450px;

}

.search-bar button {
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.p-logo{
    color: blue;
    font-size: 2.2rem;
}
.search-bar input:focus {
    border-color: #007bff;
    outline: none;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Navigation Links */
.nav-a-tags ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-a-tags li {
    font-size: 1rem;
}

.nav-a-tags a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-a-tags a:hover {
    background-color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin-bottom: 10px;
    }

    .nav-a-tags ul {
        flex-direction: column;
        gap: 10px;
    }
}
