<!--This is header fragment used for navigation-->
<header th:fragment="header-fragment">
    <nav class="nav-bar">

        <a href="/api/login">
        <div class="logo">
            <div class="spm-logo" style="color: red; font-size: 1.2em">s<span class="p-logo">P</span>m</div>
            <div class="spm-text">Secure<br>Product Management</div>
        </div>
        </a>

        <form th:action="@{/products/search}" method="get" class="search-bar">
            <input type="search" name="name" placeholder="search items...">
            <button type="submit">Search</button>
        </form>

        <div class="nav-a-tags">
            <ul>
                <li><a th:href="@{/products/add-a-product}">Add Item</a></li>
                <li><a th:href="@{/products}">List of Items</a></li>
                <li><a th:href="@{/api/registration}">Registration</a></li>
            </ul>

        </div>
    </nav>
</header>


<!--This is footer fragment -->
<footer th:fragment="footer-fragment">
    <div class="footer-bottom">
        <p>© <span th:text="${#dates.year(#dates.createNow())}"></span> Secure Product Management. All rights reserved.</p>
    </div>
</footer>

<!--Login form -->
<div th:fragment="login-form-fragment" class="login-form-container">
    <div class="login-form-box">
        <!-- Logo -->
        <div class="login-logo">
            <span class="logo-text">s<span class="p-logo">P</span>m</span>
        </div>

        <!-- Welcome Heading -->
        <h1>Welcome Back</h1>

        <!-- Login Form -->
        <form th:action="@{/api/form-submit}" th:object="${user}" method="post" class="login-form">
            <div class="input-group">
                <label for="user-login-name">Username</label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-user"></i>
                    <input type="email" th:field="*{username}"  id="user-login-name" name="username"  required>
                </div>
            </div>

            <div class="input-group">
                <label for="login-password">Password</label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" th:field="*{password}" id="login-password" name="password"  required>
                </div>
            </div>

            <!-- Login Button -->
            <div class="btn-container">
                <button type="submit" class="login-btn">Login</button>
            </div>

            <!-- Register Link -->
            <div class="register-link">
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
        </form>
    </div>
</div>



<!-- Registration form -->
<div class="registration-form-container" th:fragment="registration-form-fragment">
    <div class="registration-form">
        <div class="login-logo">
            <span class="logo-text">s<span class="p-logo">P</span>m</span>
        </div>
        <h1>Welcome! Let's Get You Started</h1>


        <form  th:action="@{/api/register}" th:object="${userProfile}" method="post">
            <div class="input-group">
                <label for="first-name">First Name</label>
                <input id="first-name" th:field="*{firstName}" placeholder="First name" required type="text" />
            </div>

            <div class="input-group">
                <label for="last-name">Last Name</label>
                <input id="last-name" th:field="*{lastName}" placeholder="Last name" required type="text" />
            </div>

            <div class="input-group">
                <label for="username">Username</label>
                <input id="username" th:field="*{user.username}" placeholder="Enter your email" required type="email" />
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input id="password"  th:field="*{user.password}" placeholder="Enter a password" required type="password" />
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input id="confirm-password" required name="confirmPassword" placeholder="Re-enter password" type="password" />
            </div>

            <div class="role-wrapper">
                <div class="role-container">
                    <label for="role">Role</label>
                    <select id="role" th:field="*{user.role}" required>
                        <option value="USER">User</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
            </div>

            <button class="registration-submit-btn" type="submit">Submit</button>
        </form>
    </div>
</div>

