<!--This is header fragment used for navigation-->
<header th:fragment="header-fragment">
    <nav class="nav-bar">
        <div class="logo">
            <div class="spm-logo" style="color: red; font-size: 1.2em">s<span id="p-logo">P</span>m</div>
            <div class="spm-text">Secure<br>Product Management</div>
        </div>
        <form class="search-bar">
            <input type="search" placeholder="search items...">
            <button type="button">Search</button>
        </form>

        <div class="nav-a-tags">
            <ul>
                <li><a href="#">Add Item</a></li>
                <li><a href="#">List of Items</a></li>
                <li><a href="#">Register</a></li>
            </ul>

        </div>
    </nav>
</header>


<!--This is footer fragment -->
<footer th:fragment="footer-fragment">

</footer>